.footer_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer_pic {
  max-width: 130px;
}

.meatless_monday_logo {
  max-width: 175px;
  margin-right: auto;
  margin-left: auto;
}

.credentials img {
  max-width: 252px;
  margin-left: auto;
}
